[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alliMD
[access "refs/for/refs/*"]
	read = group user/alliMD
	push = group user/alliMD
	label-Code-Review = -2..+2 group user/alliMD
	label-Verified = -1..+1 group user/alliMD
	rebase = group user/alliMD
	removeReviewer = group user/alliMD
	submit = group user/alliMD
[access "refs/heads/*"]
	read = group user/alliMD
	create = group user/alliMD
	push = +force group user/alliMD
	pushMerge = group user/alliMD
[access "refs/tags/*"]
	push = group user/alliMD
	push = +force group user/alliMD
